{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}Tableau de bord{% endblock %}

{% block main %}
    <h1>Bienvenue dans l'administration</h1>
    <p>Utilisez le menu pour gérer vos produits et catégories.</p>
{% endblock %}
